
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="america" checked class="menu_inputs"><p style="display: inline-block">america</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="united_kingdom" checked class="menu_inputs"><p style="display: inline-block">united_kingdom</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="canada" checked class="menu_inputs"><p style="display: inline-block">canada</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="germany" checked class="menu_inputs"><p style="display: inline-block">germany</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="france" checked class="menu_inputs"><p style="display: inline-block">france</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="australia" checked class="menu_inputs"><p style="display: inline-block">australia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="spain" checked class="menu_inputs"><p style="display: inline-block">spain</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="ireland" checked class="menu_inputs"><p style="display: inline-block">ireland</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="japan" checked class="menu_inputs"><p style="display: inline-block">japan</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="italy" checked class="menu_inputs"><p style="display: inline-block">italy</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="argentina" checked class="menu_inputs"><p style="display: inline-block">argentina</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="czechia" checked class="menu_inputs"><p style="display: inline-block">czechia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="colombia" checked class="menu_inputs"><p style="display: inline-block">colombia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="mexico" checked class="menu_inputs"><p style="display: inline-block">mexico</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="new_zealand" checked class="menu_inputs"><p style="display: inline-block">new_zealand</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="luxembourg" checked class="menu_inputs"><p style="display: inline-block">luxembourg</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="cuba" checked class="menu_inputs"><p style="display: inline-block">cuba</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="china" checked class="menu_inputs"><p style="display: inline-block">china</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="ecuador" checked class="menu_inputs"><p style="display: inline-block">ecuador</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="israel" checked class="menu_inputs"><p style="display: inline-block">israel</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="hungary" checked class="menu_inputs"><p style="display: inline-block">hungary</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="denmark" checked class="menu_inputs"><p style="display: inline-block">denmark</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="sweden" checked class="menu_inputs"><p style="display: inline-block">sweden</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="south_africa" checked class="menu_inputs"><p style="display: inline-block">south_africa</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="cambodia" checked class="menu_inputs"><p style="display: inline-block">cambodia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="norway" checked class="menu_inputs"><p style="display: inline-block">norway</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="hong_kong" checked class="menu_inputs"><p style="display: inline-block">hong_kong</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="bulgaria" checked class="menu_inputs"><p style="display: inline-block">bulgaria</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="south_korea" checked class="menu_inputs"><p style="display: inline-block">south_korea</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="rwanda" checked class="menu_inputs"><p style="display: inline-block">rwanda</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="thailand" checked class="menu_inputs"><p style="display: inline-block">thailand</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="pakistan" checked class="menu_inputs"><p style="display: inline-block">pakistan</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="dominican_republic" checked class="menu_inputs"><p style="display: inline-block">dominican_republic</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="bahamas" checked class="menu_inputs"><p style="display: inline-block">bahamas</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="brazil" checked class="menu_inputs"><p style="display: inline-block">brazil</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="costa_rica" checked class="menu_inputs"><p style="display: inline-block">costa_rica</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="panama" checked class="menu_inputs"><p style="display: inline-block">panama</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="bolivia" checked class="menu_inputs"><p style="display: inline-block">bolivia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="nicaragua" checked class="menu_inputs"><p style="display: inline-block">nicaragua</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="poland" checked class="menu_inputs"><p style="display: inline-block">poland</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="india" checked class="menu_inputs"><p style="display: inline-block">india</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="taiwan" checked class="menu_inputs"><p style="display: inline-block">taiwan</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="finland" checked class="menu_inputs"><p style="display: inline-block">finland</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="belgium" checked class="menu_inputs"><p style="display: inline-block">belgium</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="austria" checked class="menu_inputs"><p style="display: inline-block">austria</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="greece" checked class="menu_inputs"><p style="display: inline-block">greece</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="netherlands" checked class="menu_inputs"><p style="display: inline-block">netherlands</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="egypt" checked class="menu_inputs"><p style="display: inline-block">egypt</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="ukraine" checked class="menu_inputs"><p style="display: inline-block">ukraine</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="united_arab_emirates" checked class="menu_inputs"><p style="display: inline-block">united_arab_emirates</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="iran" checked class="menu_inputs"><p style="display: inline-block">iran</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="jordan" checked class="menu_inputs"><p style="display: inline-block">jordan</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="qatar" checked class="menu_inputs"><p style="display: inline-block">qatar</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="indonesia" checked class="menu_inputs"><p style="display: inline-block">indonesia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="syria" checked class="menu_inputs"><p style="display: inline-block">syria</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="romania" checked class="menu_inputs"><p style="display: inline-block">romania</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="switzerland" checked class="menu_inputs"><p style="display: inline-block">switzerland</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="uruguay" checked class="menu_inputs"><p style="display: inline-block">uruguay</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="iceland" checked class="menu_inputs"><p style="display: inline-block">iceland</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="monaco" checked class="menu_inputs"><p style="display: inline-block">monaco</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="turkey" checked class="menu_inputs"><p style="display: inline-block">turkey</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="singapore" checked class="menu_inputs"><p style="display: inline-block">singapore</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="russia" checked class="menu_inputs"><p style="display: inline-block">russia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="ghana" checked class="menu_inputs"><p style="display: inline-block">ghana</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="british_indian_ocean_territory" checked class="menu_inputs"><p style="display: inline-block">british_indian_ocean_territory</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="morocco" checked class="menu_inputs"><p style="display: inline-block">morocco</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="philippines" checked class="menu_inputs"><p style="display: inline-block">philippines</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="lebanon" checked class="menu_inputs"><p style="display: inline-block">lebanon</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="croatia" checked class="menu_inputs"><p style="display: inline-block">croatia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="holy_see" checked class="menu_inputs"><p style="display: inline-block">holy_see</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="malaysia" checked class="menu_inputs"><p style="display: inline-block">malaysia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="chile" checked class="menu_inputs"><p style="display: inline-block">chile</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="portugal" checked class="menu_inputs"><p style="display: inline-block">portugal</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="puerto_rico" checked class="menu_inputs"><p style="display: inline-block">puerto_rico</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="peru" checked class="menu_inputs"><p style="display: inline-block">peru</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="nigeria" checked class="menu_inputs"><p style="display: inline-block">nigeria</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="montenegro" checked class="menu_inputs"><p style="display: inline-block">montenegro</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="serbia" checked class="menu_inputs"><p style="display: inline-block">serbia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="slovenia" checked class="menu_inputs"><p style="display: inline-block">slovenia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="latvia" checked class="menu_inputs"><p style="display: inline-block">latvia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="kenya" checked class="menu_inputs"><p style="display: inline-block">kenya</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="paraguay" checked class="menu_inputs"><p style="display: inline-block">paraguay</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="macedonia" checked class="menu_inputs"><p style="display: inline-block">macedonia</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="venezuela" checked class="menu_inputs"><p style="display: inline-block">venezuela</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="iraq" checked class="menu_inputs"><p style="display: inline-block">iraq</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="tanzania" checked class="menu_inputs"><p style="display: inline-block">tanzania</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="palestine" checked class="menu_inputs"><p style="display: inline-block">palestine</p></div>
        