
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="drama" checked class="menu_inputs"><p style="display: inline-block">drama</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="comedy" checked class="menu_inputs"><p style="display: inline-block">comedy</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="documentary" checked class="menu_inputs"><p style="display: inline-block">documentary</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="action_and_adventure" checked class="menu_inputs"><p style="display: inline-block">action_and_adventure</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="thriller" checked class="menu_inputs"><p style="display: inline-block">thriller</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="mystery" checked class="menu_inputs"><p style="display: inline-block">mystery</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="romance" checked class="menu_inputs"><p style="display: inline-block">romance</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="crime" checked class="menu_inputs"><p style="display: inline-block">crime</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="family" checked class="menu_inputs"><p style="display: inline-block">family</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="biography" checked class="menu_inputs"><p style="display: inline-block">biography</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="fantasy" checked class="menu_inputs"><p style="display: inline-block">fantasy</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="history" checked class="menu_inputs"><p style="display: inline-block">history</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="science_fiction" checked class="menu_inputs"><p style="display: inline-block">science_fiction</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="animation" checked class="menu_inputs"><p style="display: inline-block">animation</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="musical" checked class="menu_inputs"><p style="display: inline-block">musical</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="horror" checked class="menu_inputs"><p style="display: inline-block">horror</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="sport" checked class="menu_inputs"><p style="display: inline-block">sport</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="stand_up_and_talk" checked class="menu_inputs"><p style="display: inline-block">stand_up_and_talk</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="children" checked class="menu_inputs"><p style="display: inline-block">children</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="lgbtq" checked class="menu_inputs"><p style="display: inline-block">lgbtq</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="independent" checked class="menu_inputs"><p style="display: inline-block">independent</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="cult" checked class="menu_inputs"><p style="display: inline-block">cult</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="reality" checked class="menu_inputs"><p style="display: inline-block">reality</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="food" checked class="menu_inputs"><p style="display: inline-block">food</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="game_show" checked class="menu_inputs"><p style="display: inline-block">game_show</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="travel" checked class="menu_inputs"><p style="display: inline-block">travel</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="anime" checked class="menu_inputs"><p style="display: inline-block">anime</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="home_and_garden" checked class="menu_inputs"><p style="display: inline-block">home_and_garden</p></div>
        
            <div style="display: inline-block; width: 280px;"><input type="checkbox" name="text" checked class="menu_inputs"><p style="display: inline-block">text</p></div>
        